:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}
body {
    background-color: var(--color-white) ;
    color:var(--color-slate) ;
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Reset */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* Logo */
.logo {
    color: var(--color-iris);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-accent {
    color: var(--color-navy-blue);
}
.footer-accent {
    color: var(--color-white);
    background-color: tomato;
}

/* Header */
.nav-link {
    color: var(--color-navy-blue);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.contact-link {
    color: var(--color-slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--color-ocean);
}
